$black : black;
$brown : #471C02;
$lightbrown : #EDB271;
$silver : #D0CBC7;

body {
  background: url(../../img/bg1.jpg);
  background-size:cover;
  background-attachment: fixed;

  .container{
    .well {
      background-color: rgba(0, 0, 0, 0.2);
      border-width: 0px;
    }
    h1 {
      color: $black;
    }
    .repoInfo{
      height: 750px;
      display: none;
      overflow-y: scroll;
      text-align: center;
      list-style: none;
    }
  }
}
